@mixin paddingMix($right, $botTop) {
	padding-right: $right;
	padding-top: $botTop;
	padding-bottom: $botTop;
}

div.content0 {
	@include paddingMix(15px, 10px);
	text-align: right;
}

div.content1 {
	@include paddingMix(70px, 10px);
	text-align: right;
}

div.content2 {
	@include paddingMix(70px, 10px);
	text-align: right;
}

div.content3 {
	@include paddingMix(15px, 10px);
	text-align: right;
}

.hidden {
	visibility: hidden;
}

.notHidden {
	visibility: visible;
}