@import '../../../variables';

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        flex: 0 1 auto;
        width: 11rem;
        max-height: auto;
        padding: 1.5rem;
    }

    @media screen and (max-width: $break-medium) {
        width: 70vw;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 1rem;
        img {
            width: 4rem;
            padding: .5rem;
            &:first-child {
                padding-left: 0;
            }
        }
    }

    @media screen and (min-width: 1800px) {
        img {
            width: 14rem;
        }
    }
}

h2 {
    font-size: 4rem;
}

p {
    text-align: center;
    font-size: 2rem;
}