@mixin paddingMix($right, $botTop) {
	padding-right: $right;
	padding-top: $botTop;
	padding-bottom: $botTop;
}

.content {
	@include paddingMix(15px, 5px);
	text-align: left;
}

.hidden {
	visibility: hidden;
}

.notHidden {
	visibility: visible;
	text-decoration: underline;
}
