@import '../../variables';

$font-primary-style: 'Montserrat', sans-serif;

.card {
    width: 15vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -1rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    transition: all .3s;
    padding: 0;
    animation: hoverMe 2s .4s infinite;
    .content {
        left: -50rem;
        opacity: 0;
        transition: all .4s ease-out;
        display: flex;
        justify-content: center;
    }
    &:hover {
        cursor: pointer;
    }
}

.show {
    width: 20vw;
}

.showFull {
    width: 99vw;
    animation: none;
    .content {
        left: 0;
        opacity: 1;
    }
}

.hidden {
    width: 0vw;
}


@keyframes hoverMe {
    25% {
        left: -.75rem;
    }
    50% {
        left: -.5rem;
        }
    75% {
        left: -.75rem;
    }
    100% {
        left: -1rem;
    }
}