@import '../../variables';

.container {
    position: relative;
}
.mobile {
    position: fixed;
    height: 100vh;
    width: 60%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: $primary-color-light;
    display: flex;
    animation-duration: .3s;
    .links {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            list-style-type: none;
            li {
                margin: 5px 0;
                a {
					color: $accent-color;
					text-decoration: none;
					font-size: 1.5rem;
				}
            }
        }
	}
}

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 5;
    transition: all .3s;
    background-color: rgba(0,0,0, .7);
}

.backdropDeactivate {
    background-color: rgba(0,0,0, 0);
}
