@import '../../variables';
@import '../helpers/flex-mixin.scss';
@import '../helpers/animation.scss';
$font-primary-style: 'Montserrat', sans-serif;
$hover-color: #80ccff;
$break-medium: 768px;
$break-small: 576px;

@mixin naviMixin {
	font-family: $font-primary-style;
	font-weight: 300;
	background-color: rgba($bg-deepblue, .1);
  	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 3%;
	color: $primary-color-text;
	padding: 5px 5px;
	z-index: 1;
	transition: all .5s;
	@include flexbox();
	@include flex-direction(row);
	@include align-items(center);
	@include align-content(center);
	@include justify-content(center);
	@include flex-wrap(wrap);
}

.mediaIcon {
	display: none;
	position: absolute;
	@media screen and (max-width: $break-medium) {
		display: flex;
		flex-direction: column;
		width: 40px;
		top: 10px;
		left: 10px;
		//padding: 10px;
		div {
			width: 80%;
			border: 1px solid black;
			margin: 5px auto;
		}
		& + .navi1 {
			display: none;
		}
	}
}

.navi1 {
	@include naviMixin;
	.arrowLeft {
		animation: arrows 2s infinite;
	}
	.links {
		position: absolute;
		display: none;
		left: -30%;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0;
		transition: all 1s;
		ul li {
			margin: 5px 0;
		}
	}
	.social {
		display: none;
	}
	&:hover {
		width: 99%;
		background-color: rgba($bg-black, .85);
	}

	&:hover .naviArrows {
		margin: auto 2% auto auto;
		.arrowContainer {
			transform: rotate(180deg);
		}
	}

	&:hover .links {
		animation: linksFading .3s .3s ease-out forwards;
		display: block;
		font-weight: 500;
		ul {
			list-style-type: none;
			li {
				animation: linksMargin .25s .5s ease-out forwards;
				border: 1px solid $accent-color;
				border-radius: 4px;
				padding: 10px 50px;
				background-image: linear-gradient(45deg, transparent 0, transparent 50%, $accent-color 50%);
				background-size: 225%;
				background-position: 0%;
				transition: all .35s ;
				&:nth-child(even) {
				  background-image: linear-gradient(-45deg, transparent 0, transparent 50%, $accent-color 50%);
				  background-position: 98%;
				}
				a {
					color: $primary-color-text;
					text-decoration: none;
					font-size: 1.5rem;
				}
				&:hover {
					background-position: 98%;
					&:nth-child(even) {
						background-position: 0;
					}
					a {
						color: $primary-text-color;
					}
				}
			}
		}
	}

	&:hover .social {
		position: absolute;
		display: block;
		left: 40%;
		width: 30%;
		height: 40px;
		border: 1px solid $primary-color-text;
		border-radius: 4px;
		transition: all .4s;
		.socialIcon, .mask {
			display: none;
			opacity: 0;
		}
		p {
			font-size: 1.5rem;
			margin: auto;
			height: 100%;
			line-height: 150%;
			text-align: center;
		}
		.socialIcon:first-child {
			position: absolute;
			left: 25%;
			top: 25%;
		}
		.socialIcon:nth-child(2) {
			position: absolute;
			right: 25%;
			top: 25%;
		}
		.socialIcon:nth-child(3) {
			position: absolute;
			left: 40%;
			top: 55%;
		}
		&:hover {
			width: 250px;
			height: 250px;
			left: 45%;
			border-radius: 50%;
			border-color: $accent-color;
			border-width: 3px;
			.socialIcon {
				display: block;
				opacity: 1;
				z-index: 10;
				a, a:active, a:link {
					transition: all .3s;
					color: $primary-color-text;
				}
				&:hover {
					a {
						color: $accent-color;
					}
					cursor: pointer;
				}
				&:first-child:hover ~ .mask {
					transform: rotate(-0deg);
				}
				&:nth-child(2):hover ~ .mask {
					transform: rotate(90deg);
				}
				&:nth-child(3):hover ~ .mask {
					transform: rotate(225deg);
				}
			}
			.mask {
				position: absolute;
				display: block;
				opacity: 1;
				left: 15%;
				top: 15%;
				border: 8px solid $accent-color;
				border-radius: 50%;
				z-index: 9;
				transform-origin: 550% 550%;
				transform: rotate(45deg);
				transition: all .3s;
			}
			p {
				display: none;
			}
		}
	}
}




@include keyframes(arrows) {
	0% {
		color: $primary-color-text;
	}
	30% {
		color: $accent-color;
	}
	50% {
		color: $accent-color;
	}
	70% {
		color: $accent-color;
	}
	100% {
		color: $primary-color-text;
	}
}

@include keyframes(linksFading) {
	0% {
		left: -30%;
		opacity: 0;
	}
	70% {
		opacity: .4
	}
	100% {
		left: 5%;
		opacity: 1;
	}
}

@include keyframes(linksMargin) {
	0% {
		margin: 5px 0;
	}
	100% {
		margin: 45px 0;
	}
}

.naviReset {
	* {
		display: none;
	}
}


