@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import '../helpers/flex-mixin.scss';
@import '../helpers/animation.scss';
$font-primary-style: Open Sans, sans-serif;
$hover-color: #80ccff;
$break-medium: 768px;
$break-small: 576px;

@include keyframes(translate) {
  0% {
			transform: translateX(0);
			}
  100% {
			transform: translateX(40px);
			scale: (20%);
			}
}


.navi {
	font-family: $font-primary-style;
	background-color: black;
  position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	max-width: 10%;
	color: white;
	padding: 10px 0;
	z-index: 1;
	@include flexbox();
	@include flex-direction(column);
	@include align-items(center);
	@include align-content(center);
	@include justify-content(center);
	@include flex-wrap(wrap);
	@media screen and (max-width: $break-medium) {
		height: auto;
		max-width: 100%;
		position: initial;
		left: 0;
		@include flex-direction(row);
	}

    div>h3 {
    	text-align: center;
			padding: 0 10px;
			@media screen and (min-width: $break-medium) {
				transform: rotate(-90deg);
			  padding: 15px 0;
			}
    }

    div.logo {
    	@include flex(15%);
        >h3>a {
            color: white;
            text-decoration: none;
            &:hover {
                color: $hover-color;
            }
        }
    }
    div.links {
    	@include flex(40%);
			@media screen and (max-width: $break-small) {
				@include flex(100%);
			}
    	>ul {
    		text-align: center;
    		padding: 0;
    		>li {
	    		display: inline-block;
	    		padding: 0 10px;
					@media screen and (min-width: $break-medium) {
						transform: rotate(-90deg);
						display: block;
						padding: 30px 0;
					}
	    		>a {
	    		color: white;
	    		text-decoration: none;
	    		}
	    	}
	    }
    }

    div.contacts {
    	@include flex(15%);
    	text-align: center;
			@media screen and (max-width: $break-small) {
				@include flex(100%);
			}
    	.icon {
    		color: white;
				@media screen and (min-width: $break-medium) {
					display: block;
					padding: 5px 0;
				}
    		padding: 0 5px;;
    		&:hover {
    			color: $hover-color;
    		}
    	}
    }
}

div.links>ul>li>a {
	&:hover {
		color: $hover-color;
		text-decoration: underline;
	}
}
