.start {
	text-align: center;
	}
	// * {
	// border: 1px solid red;
	// }	 
	>h1 {
	color: cyan;
	}
	>.image {
		border : none;
		}
		img {
			border: none;
			max-width: 100%;
    		height: auto;
		}