@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import '../helpers/flex-mixin.scss';
$font-primary-style: Open Sans, sans-serif;
$hover-color: #80ccff;

.start {
	font-family: $font-primary-style;
	color: black;
	padding: 10px 10px;
	margin-top: 20px;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    @include align-content(center);
    @include justify-content(center);
    @include flex-wrap(nowrap);
	text-align: center;	 
	div.info {
		@include flex(0 0 27.5%);
	}
	div.image {
		@include flex(0 0 45%);
		img {
			max-width: 100%;
    		height: auto;
		}
	}
}