$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #ff1a6a;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$bg-gray:        #BDBDBD;
$bg-black:#0b0b0b;
$bg-deepblue: #010118;